body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  /*
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
*/
}

img {
  max-width: 100%
}

a {
  text-decoration: none;
}

h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.filter {
  text-align: center;
}

.filter h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.filter p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  width: 1280px;
  height: 2762px;
  background-color: #f2f2f2;
}

.main-header-logo {
  position: absolute;
  top:  0px;
  left: 570px;
}

.main-navigation {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

ul.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 56px;
  align-items: center;
}

.main-navigation li:first-child {
  text-align: left;
}

.main-navigation li:nth-child(2) {
  text-align: left;
}

.main-navigation li:nth-child(3) {
  text-align: right;
}

.main-navigation li:last-child {
  text-align: right;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

/* вид активной ссылки задана через класс
.site-navigation a:active {
  color: #766357;
}
*/
.navigation-links-current {
  color: #766357;
}

li.benefits-list:nth-child(1) {
  color: #ffffff;
  background-color: #81b3d2;
}

li.benefits-list:nth-child(2) {
  color: #ffffff;
  background-color: #81b3d2;
}

li+.benefits-item {
  color: #333333;
  background-color: #f2f2f2;
}

.benefits,
.benefits-list,
.benefits-item {
  list-style: none;
  text-align: center;
}

.benefits-list {
  font-size: 21px;
  font-weight: 700;
}

.benefits-item {
  font-size: 21px;
  font-weight: 700;
}

.benefits-description {
  font-size: 14px;
  font-weight: 400;
}

.button-brown {
  width: 568px;
  height: 86px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button-blue {
  width: 458px;
  height: 58px;
  font-size: 21px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-footer {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 120px;
}

.social-buttons {
  list-style: none;
  display: flex;
}

.website-by {}

.visually-hidden {
  display: none;
}
